.sconsign.dblite
etc/config.ini
etc/db.ini
etc/devel.ini
py/etc/agents
bin/
build/
logs/
./lib/
*.o
*.os
*.so
*.gcno
*.pyc
*~
*.core
*.bkp
*/*#*
*#*
doc/doxy
*/*.desktop
*/*.desktop.*
*/logs/*
var/
__pycache__
.emacs*
./core
doc/
old/
lib/
unused/
src/external/jsoncpp/
.coverage
