.sconsign.dblite
etc/config.ini
etc/db/postgresql.ini
etc/db/mysql.ini
etc/ext_mods/portal/db/postgresql.ini
py/etc/agents
bin/
build/
logs/
./lib/
*.o
*.os
*.so
*.gcno
*.pyc
*~
*.core
*.bkp
*/*#*
*#*
doc/doxy
*/*.desktop
*/*.desktop.*
*/logs/*
var/
__pycache__
