[global]
databases = core test

[core]
user = minus
name = xpl_core
password = asd
host = localhost
port = 3306
pool_size = 3

[test]
user = minus
name = xpl_test
password = asd
host = localhost
port = 3306
pool_size = 3
