basedir = ~/Devel/nix-env/nix
modulessdir = ~/Devel/nix-env/nix/lib
logdir = ~/Devel/nix-env/nix/var/log
pidbase = ~/Devel/nix-env/nix/var/run
pidname = nix.localhost

address = tcp://127.0.0.1:9876

[SERVER]
tcp_listen_backlog = 250
tcp_nonblocking = 1
dispatcher_threads = 50
