basedir = ~/Devel/nix
modulesdir = ~/Devel/nix/lib
logdir = ~/Devel/nix/var/log
pidbase = ~/Devel/nix/var/run
pidname = nix.localhost

node_name = node_01
address = tcp://127.0.0.1:9876

## builtin modules
enable-debug = 1
## builtin modules: services
enable-cache = 1
enable-resolver = 1
enable-job-queue = 1

[SERVER]
tcp_listen_backlog = 10
tcp_nonblocking = 1
dispatcher_threads = 2

[builtins]
queues = internal

[queue.internal]
size = 123
